In [2]:
import matplotlib.pyplot as plt 
import pandas as pd

import numpy as np

In [3]:
covid_data = pd.read_csv("covid_data_original.csv", low_memory=False)

In [4]:
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [5]:
df = pd.DataFrame(covid_data)

In [6]:
df = df.drop(columns=['iso_code', 'continent', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed','total_deaths', 'new_deaths','new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million','new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions','weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'new_tests_per_thousand', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_vaccinated_per_hundred', 'people_fully_vaccinated', 'new_vaccinations', 'people_fully_vaccinated_per_hundred', 'female_smokers','male_smokers', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'new_vaccinations_smoothed_per_million', 'population'])
df

,location,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
1,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
2,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
3,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
4,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73988,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73989,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73990,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73991,Zimbabwe,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73992,Zimbabwe,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571

In [7]:
grouped_df = df.groupby(['location'])
test = grouped_df.mean()
test

,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,
Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.500,64.83,0.511
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.890,78.57,0.795
Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.900,76.88,0.748
Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,61.129332,308.127,32.6,7.150,4.718,6171.884,2.0,245.465,6.00,85.847,2.600,75.40,0.704
World,NaN,58.045,30.9,8.696,5.355,15469.207,10.0,233.070,8.51,60.130,2.705,72.58,0.737
Yemen,34.253453,53.508,20.3,2.922,1.583,1479.147,18.8,495.003,5.35,49.542,0.700,66.12,0.470
Zambia,46.804551,22.995,17.7,2.480,1.542,3689.251,57.5,234.499,3.94,13.938,2.000,63.89,0.584
Zimbabwe,76.532853,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.700,61.49,0.571

In [11]:
test = test.rename(columns={
    "location": "Location",
    "stringency_index": "Stringency Index", 
    "population_density": "Population Density",
    "median_age": "Median Age",
    "aged_65_older": "Aged 65 and Older",
    "aged_70_older": "Aged 70 and Older",
    "gdp_per_capita": "GDP Per Capita",
    "extreme_poverty": "Extreme Poverty",
    "cardiovasc_death_rate": "Cardiovascular Death Rate",
    "diabetes_prevalence": "Diabetes Prevalence", 
    "handwashing_facilities": "Handwasing Facilities",
    "hospital_beds_per_thousand": "Hospital Beds Per Thousand",
    "life_expectancy": "Life Expectancy",
    "human_development_index": "Human Development Index",  
})

test

,Stringency Index,Population Density,Median Age,Aged 65 and Older,Aged 70 and Older,GDP Per Capita,Extreme Poverty,Cardiovascular Death Rate,Diabetes Prevalence,Handwasing Facilities,Hospital Beds Per Thousand,Life Expectancy,Human Development Index
location,,,,,,,,,,,,,
Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.500,64.83,0.511
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.890,78.57,0.795
Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.900,76.88,0.748
Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,61.129332,308.127,32.6,7.150,4.718,6171.884,2.0,245.465,6.00,85.847,2.600,75.40,0.704
World,NaN,58.045,30.9,8.696,5.355,15469.207,10.0,233.070,8.51,60.130,2.705,72.58,0.737
Yemen,34.253453,53.508,20.3,2.922,1.583,1479.147,18.8,495.003,5.35,49.542,0.700,66.12,0.470
Zambia,46.804551,22.995,17.7,2.480,1.542,3689.251,57.5,234.499,3.94,13.938,2.000,63.89,0.584
Zimbabwe,76.532853,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.700,61.49,0.571