In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [1]:
file_owid = "owid-covid-data.csv"
file_owid_df = pd.read_csv(file_owid)
file_owid_df;

NameError: name 'pd' is not defined

In [342]:
file_who = "who_covid_data.csv"
file_who_df = pd.read_csv(file_who)
file_who_df;

In [343]:
file_who_df = file_who_df.drop(columns=['WHO Region', 'Cases - cumulative total per 100000 population',	'Cases - newly reported in last 7 days','Cases - newly reported in last 7 days per 100000 population', 'Deaths - cumulative total per 100000 population',	'Deaths - newly reported in last 7 days','Deaths - newly reported in last 7 days per 100000 population', 'Cases - newly reported in last 24 hours', 'Deaths - newly reported in last 24 hours'])
file_who_df

,Name,Cases - cumulative total,Deaths - cumulative total,Transmission Classification
0,Global,117332262,2605356,NaN
1,United States of America,28825174,522469,Community transmission
2,India,11262707,158063,Clusters of cases
3,Brazil,11051665,266398,Community transmission
4,Russian Federation,4351553,90275,Clusters of cases
...,...,...,...,...
232,Pitcairn Islands,0,0,No cases
233,Tokelau,0,0,No cases
234,Tonga,0,0,No cases
235,Turkmenistan,0,0,No cases
236,Tuvalu,0,0,No cases

In [344]:
file_pop = "population_by_country_2020.csv"
file_pop_df = pd.read_csv(file_pop)
file_pop_df

,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [345]:
file_pop_df = file_pop_df.drop(columns=['Yearly Change', "Net Change", "Migrants (net)", "Fert. Rate"])
file_pop_df

,Country (or dependency),Population (2020),Density (P/Km²),Land Area (Km²),Med. Age,Urban Pop %,World Share
0,China,1440297825,153,9388211,38,61 %,18.47 %
1,India,1382345085,464,2973190,28,35 %,17.70 %
2,United States,331341050,36,9147420,38,83 %,4.25 %
3,Indonesia,274021604,151,1811570,30,56 %,3.51 %
4,Pakistan,221612785,287,770880,23,35 %,2.83 %
...,...,...,...,...,...,...,...
230,Montserrat,4993,50,100,N.A.,10 %,0.00 %
231,Falkland Islands,3497,0,12170,N.A.,66 %,0.00 %
232,Niue,1628,6,260,N.A.,46 %,0.00 %
233,Tokelau,1360,136,10,N.A.,0 %,0.00 %
234,Holy See,801,2003,0,N.A.,N.A.,0.00 %

In [346]:
file_pop_df = file_pop_df.rename(columns={"Country (or dependency)": "Location"})
file_who_df = file_who_df.rename(columns={"Name": "Location"})
file_who_df

,Location,Cases - cumulative total,Deaths - cumulative total,Transmission Classification
0,Global,117332262,2605356,NaN
1,United States of America,28825174,522469,Community transmission
2,India,11262707,158063,Clusters of cases
3,Brazil,11051665,266398,Community transmission
4,Russian Federation,4351553,90275,Clusters of cases
...,...,...,...,...
232,Pitcairn Islands,0,0,No cases
233,Tokelau,0,0,No cases
234,Tonga,0,0,No cases
235,Turkmenistan,0,0,No cases
236,Tuvalu,0,0,No cases

In [347]:
file_who_df = file_who_df.drop(file_who_df.index[0])
file_who_df

,Location,Cases - cumulative total,Deaths - cumulative total,Transmission Classification
1,United States of America,28825174,522469,Community transmission
2,India,11262707,158063,Clusters of cases
3,Brazil,11051665,266398,Community transmission
4,Russian Federation,4351553,90275,Clusters of cases
5,The United Kingdom,4229002,124797,Community transmission
...,...,...,...,...
232,Pitcairn Islands,0,0,No cases
233,Tokelau,0,0,No cases
234,Tonga,0,0,No cases
235,Turkmenistan,0,0,No cases
236,Tuvalu,0,0,No cases

In [348]:
load = file_who_df.rename(columns = {"Location" : "location", "Cases - cumulative total" : "total_cases", "Deaths - cumulative total" : "total_deaths", "Transmission Classification" : "transmission_classification", "Population (2020)" : "population_2020"})

In [349]:
population_data = file_pop_df.drop(columns=["Population (2020)"])
population_data

,Location,Density (P/Km²),Land Area (Km²),Med. Age,Urban Pop %,World Share
0,China,153,9388211,38,61 %,18.47 %
1,India,464,2973190,28,35 %,17.70 %
2,United States,36,9147420,38,83 %,4.25 %
3,Indonesia,151,1811570,30,56 %,3.51 %
4,Pakistan,287,770880,23,35 %,2.83 %
...,...,...,...,...,...,...
230,Montserrat,50,100,N.A.,10 %,0.00 %
231,Falkland Islands,0,12170,N.A.,66 %,0.00 %
232,Niue,6,260,N.A.,46 %,0.00 %
233,Tokelau,136,10,N.A.,0 %,0.00 %
234,Holy See,2003,0,N.A.,N.A.,0.00 %

In [351]:
population_data.to_csv("load/population_data.csv", index=False, header=True)

In [352]:
pop = file_pop_df['Population (2020)']

In [353]:
pop.head()
pop = pd.DataFrame(pop)

In [354]:
# df1= file_who_df
# df2= file_pop_df['Population (2020)']

file_who_df['Population (2020)'] = pop


# file_who_df.to_("load/covid-data.csv", index=False, header=True)

In [355]:
file_who_df

,Location,Cases - cumulative total,Deaths - cumulative total,Transmission Classification,Population (2020)
1,United States of America,28825174,522469,Community transmission,1.382345e+09
2,India,11262707,158063,Clusters of cases,3.313410e+08
3,Brazil,11051665,266398,Community transmission,2.740216e+08
4,Russian Federation,4351553,90275,Clusters of cases,2.216128e+08
5,The United Kingdom,4229002,124797,Community transmission,2.128220e+08
...,...,...,...,...,...
232,Pitcairn Islands,0,0,No cases,1.628000e+03
233,Tokelau,0,0,No cases,1.360000e+03
234,Tonga,0,0,No cases,8.010000e+02
235,Turkmenistan,0,0,No cases,NaN
236,Tuvalu,0,0,No cases,NaN

In [356]:
load = file_who_df.rename(columns = {"Location" : "location", "Cases - cumulative total" : "total_cases", "Deaths - cumulative total" : "total_deaths", "Transmission Classification" : "transmission_classification", "Population (2020)" : "population_2020"})

In [358]:
load.head()

,location,total_cases,total_deaths,transmission_classification,population_2020
1,United States of America,28825174,522469,Community transmission,1.382345e+09
2,India,11262707,158063,Clusters of cases,3.313410e+08
3,Brazil,11051665,266398,Community transmission,2.740216e+08
4,Russian Federation,4351553,90275,Clusters of cases,2.216128e+08
5,The United Kingdom,4229002,124797,Community transmission,2.128220e+08

In [359]:
file_pop_df

,Location,Population (2020),Density (P/Km²),Land Area (Km²),Med. Age,Urban Pop %,World Share
0,China,1440297825,153,9388211,38,61 %,18.47 %
1,India,1382345085,464,2973190,28,35 %,17.70 %
2,United States,331341050,36,9147420,38,83 %,4.25 %
3,Indonesia,274021604,151,1811570,30,56 %,3.51 %
4,Pakistan,221612785,287,770880,23,35 %,2.83 %
...,...,...,...,...,...,...,...
230,Montserrat,4993,50,100,N.A.,10 %,0.00 %
231,Falkland Islands,3497,0,12170,N.A.,66 %,0.00 %
232,Niue,1628,6,260,N.A.,46 %,0.00 %
233,Tokelau,1360,136,10,N.A.,0 %,0.00 %
234,Holy See,801,2003,0,N.A.,N.A.,0.00 %

In [360]:
new_df =  file_who_df.drop('Transmission Classification', axis =1)

In [361]:
new_df

,Location,Cases - cumulative total,Deaths - cumulative total,Population (2020)
1,United States of America,28825174,522469,1.382345e+09
2,India,11262707,158063,3.313410e+08
3,Brazil,11051665,266398,2.740216e+08
4,Russian Federation,4351553,90275,2.216128e+08
5,The United Kingdom,4229002,124797,2.128220e+08
...,...,...,...,...
232,Pitcairn Islands,0,0,1.628000e+03
233,Tokelau,0,0,1.360000e+03
234,Tonga,0,0,8.010000e+02
235,Turkmenistan,0,0,NaN
236,Tuvalu,0,0,NaN

In [362]:
import pandas as pd
from sqlalchemy import create_engine

In [363]:
covid_data = load[["location", "total_cases","total_deaths", "transmission_classification", "population_2020"]].copy()
covid_data.head()

,location,total_cases,total_deaths,transmission_classification,population_2020
1,United States of America,28825174,522469,Community transmission,1.382345e+09
2,India,11262707,158063,Clusters of cases,3.313410e+08
3,Brazil,11051665,266398,Community transmission,2.740216e+08
4,Russian Federation,4351553,90275,Clusters of cases,2.216128e+08
5,The United Kingdom,4229002,124797,Community transmission,2.128220e+08

In [364]:
rds_connection_string = "postgres:1234@localhost:5432/Covid_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [365]:
engine.table_names()

['covid_data',
 'Location',
 'Stringency Index',
 'Population Density',
 'Median Age']

In [367]:
load.to_sql(name='location', con=engine, if_exists='append', index=False)

In [368]:
load.to_sql(name='total_cases', con=engine, if_exists='append', index=False)

In [369]:
load.to_sql(name='total_deaths', con=engine, if_exists='append', index=False)

In [370]:
load.to_sql(name='transmission_classification', con=engine, if_exists='append', index=False)

In [371]:
load.to_sql(name='population_2020', con=engine, if_exists='append', index=False)

In [372]:
pd.read_sql_query('select * from location', con=engine).head()

,location,total_cases,total_deaths,transmission_classification,population_2020
0,United States of America,28825174,522469,Community transmission,1.382345e+09
1,India,11262707,158063,Clusters of cases,3.313410e+08
2,Brazil,11051665,266398,Community transmission,2.740216e+08
3,Russian Federation,4351553,90275,Clusters of cases,2.216128e+08
4,The United Kingdom,4229002,124797,Community transmission,2.128220e+08

In [378]:
population_data

,Location,Density (P/Km²),Land Area (Km²),Med. Age,Urban Pop %,World Share
0,China,153,9388211,38,61 %,18.47 %
1,India,464,2973190,28,35 %,17.70 %
2,United States,36,9147420,38,83 %,4.25 %
3,Indonesia,151,1811570,30,56 %,3.51 %
4,Pakistan,287,770880,23,35 %,2.83 %
...,...,...,...,...,...,...
230,Montserrat,50,100,N.A.,10 %,0.00 %
231,Falkland Islands,0,12170,N.A.,66 %,0.00 %
232,Niue,6,260,N.A.,46 %,0.00 %
233,Tokelau,136,10,N.A.,0 %,0.00 %
234,Holy See,2003,0,N.A.,N.A.,0.00 %

In [381]:
pop = population_data.rename(columns = {"Location" : "location", "Density (P/Km²)" : "density_km", "Land Area (Km²)" : "land_area_km", "Med. Age" : "med_age", "Urban Pop %" : "urban_pop", "World Share" : "world_share"})

In [384]:
pop_data = pop[["location", "density_km","land_area_km", "med_age", "urban_pop", "world_share"]].copy()
pop_data.head()

        location  density_km  land_area_km med_age urban_pop world_share
0          China         153       9388211      38      61 %     18.47 %
1          India         464       2973190      28      35 %     17.70 %
2  United States          36       9147420      38      83 %      4.25 %
3      Indonesia         151       1811570      30      56 %      3.51 %
4       Pakistan         287        770880      23      35 %      2.83 %

In [385]:
rds_connection_string = "postgres:1234@localhost:5432/Covid_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [386]:
engine.table_names()

['covid_data', 'population_data']

In [387]:
pop.to_sql(name='location', con=engine, if_exists='append', index=False)

In [388]:
pop.to_sql(name='density_km', con=engine, if_exists='append', index=False)

In [389]:
pop.to_sql(name='land_area_km', con=engine, if_exists='append', index=False)

In [390]:
pop.to_sql(name='med_age', con=engine, if_exists='append', index=False)

In [391]:
pop.to_sql(name='urban_pop', con=engine, if_exists='append', index=False)

In [392]:
pop.to_sql(name='world_share', con=engine, if_exists='append', index=False)

In [393]:
pd.read_sql_query('select * from world_share', con=engine).head()

        location  density_km  land_area_km med_age urban_pop world_share
0          China         153       9388211      38      61 %     18.47 %
1          India         464       2973190      28      35 %     17.70 %
2  United States          36       9147420      38      83 %      4.25 %
3      Indonesia         151       1811570      30      56 %      3.51 %
4       Pakistan         287        770880      23      35 %      2.83 %