In [5]:
import matplotlib.pyplot as plt 
import pandas as pd

import numpy as np

In [6]:
covid_data = "owid-covid-data.csv"
df = pd.read_csv(covid_data)
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [9]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [14]:
df = df.drop(columns=['iso_code', 'continent', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed','total_deaths', 'new_deaths','new_deaths_smoothed', 'total_cases_per_million', 'new_cases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million','new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions','weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'new_tests_per_thousand', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_vaccinated_per_hundred', 'people_fully_vaccinated', 'new_vaccinations', 'people_fully_vaccinated_per_hundred', 'female_smokers','male_smokers', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'new_vaccinations_smoothed_per_million', 'population'])
df

,location,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
1,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
2,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
3,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
4,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73988,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73989,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73990,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73991,Zimbabwe,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73992,Zimbabwe,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571

In [15]:
grouped_df = df.groupby(['location'])
test = grouped_df.mean()
test

,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
location,,,,,,,,,,,,,
Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.500,64.83,0.511
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.890,78.57,0.795
Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.900,76.88,0.748
Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,61.129332,308.127,32.6,7.150,4.718,6171.884,2.0,245.465,6.00,85.847,2.600,75.40,0.704
World,NaN,58.045,30.9,8.696,5.355,15469.207,10.0,233.070,8.51,60.130,2.705,72.58,0.737
Yemen,34.253453,53.508,20.3,2.922,1.583,1479.147,18.8,495.003,5.35,49.542,0.700,66.12,0.470
Zambia,46.804551,22.995,17.7,2.480,1.542,3689.251,57.5,234.499,3.94,13.938,2.000,63.89,0.584
Zimbabwe,76.532853,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.700,61.49,0.571

In [16]:
test_new =test.reset_index()

In [17]:
test_new.head()

,location,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868

In [39]:
test_df = test_new.rename(columns={
    "location": "location",
    "stringency_index": "stringency_index", 
    "population_density": "population_density",
    "median_ge": "median_age",
    "aged_65_older": "aged_65_and_older",
    "aged_70_older": "aged_70_and_older",
    "gdp_per_capita": "gdp_per_capita",
    "extreme_poverty": "extreme_poverty",
    "cardiovasc_death_rate": "cardiovascular_death_rate",
    "diabetes_prevalence": "diabetes_prevalence", 
    "handwashing_facilities": "handwashing_facilities",
    "hospital_beds_per_thousand": "hospital_beds_per_thousand",
    "life_expectancy": "life_expectancy",
    "human_development_index": "human_development_index",  
})

test_df

test_df.to_csv("load/economic-data.csv", index=False, header=True)

In [40]:
test_df.head()

,location,stringency_index,population_density,median_age,aged_65_and_older,aged_70_and_older,gdp_per_capita,extreme_poverty,cardiovascular_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868

In [41]:
import pandas as pd
from sqlalchemy import create_engine

In [42]:
economic_data = test_df[["location", "stringency_index", "population_density","median_age", "aged_65_and_older", "aged_70_and_older", "gdp_per_capita", "extreme_poverty", "cardiovascular_death_rate", "diabetes_prevalence", "handwashing_facilities", "hospital_beds_per_thousand", "life_expectancy", "human_development_index"]].copy()
economic_data.head()

,location,stringency_index,population_density,median_age,aged_65_and_older,aged_70_and_older,gdp_per_capita,extreme_poverty,cardiovascular_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868

In [43]:
rds_connection_string = "postgres:1234@localhost:5432/Covid_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [44]:
engine.table_names()

['covid_data', 'population_data', 'economic_data']

In [45]:
test_df.to_sql(name='location', con=engine, if_exists='append', index=False)

In [46]:
test_df.to_sql(name='stringency_index', con=engine, if_exists='append', index=False)

In [47]:
test_df.to_sql(name='population_density', con=engine, if_exists='append', index=False)

In [48]:
test_df.to_sql(name='median_age', con=engine, if_exists='append', index=False)

In [49]:
test_df.to_sql(name='aged_65_and_older', con=engine, if_exists='append', index=False)

In [50]:
test_df.to_sql(name='aged_70_and_older', con=engine, if_exists='append', index=False)

In [51]:
test_df.to_sql(name='gdp_per_capita', con=engine, if_exists='append', index=False)

In [52]:
test_df.to_sql(name='extreme_poverty', con=engine, if_exists='append', index=False)

In [53]:
test_df.to_sql(name='cardiovascular_death_rate', con=engine, if_exists='append', index=False)

In [54]:
test_df.to_sql(name='diabetes_prevalence', con=engine, if_exists='append', index=False)

In [55]:
test_df.to_sql(name='handwashing_facilities', con=engine, if_exists='append', index=False)

In [56]:
test_df.to_sql(name='hospital_beds_per_thousand', con=engine, if_exists='append', index=False)

In [57]:
test_df.to_sql(name='life_expectancy', con=engine, if_exists='append', index=False)

In [58]:
test_df.to_sql(name='human_development_index', con=engine, if_exists='append', index=False)

In [59]:
pd.read_sql_query('select * from human_development_index', con=engine).head()

,location,stringency_index,population_density,median_age,aged_65_and_older,aged_70_and_older,gdp_per_capita,extreme_poverty,cardiovascular_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868