In [1]:
import matplotlib.pyplot as plt 
import pandas as pd

import numpy as np

In [89]:
covid_data.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,24/02/2020,1.0,1.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,25/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,26/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,27/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,28/02/2020,1.0,0.0,NaN,NaN,NaN,NaN,...,1803.987,NaN,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511

In [2]:
df = pd.DataFrame(covid_data)

NameError: name 'covid_data' is not defined

In [92]:
df = df.drop(columns=['iso_code', 'continent', 'date', 'total_cases', 'new_cases', 'new_cases_smoothed','total_deaths', 'new_deaths','new_deaths_smoothed', 'total_cases_per_million', 'new_c,ases_per_million', 'new_cases_smoothed_per_million', 'total_deaths_per_million','new_deaths_per_million', 'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients', 'icu_patients_per_million', 'hosp_patients', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions','weekly_hosp_admissions_per_million', 'new_tests', 'total_tests', 'total_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'positive_rate', 'tests_per_case', 'new_tests_per_thousand', 'tests_units', 'total_vaccinations', 'people_vaccinated', 'people_vaccinated_per_hundred', 'people_fully_vaccinated', 'new_vaccinations', 'people_fully_vaccinated_per_hundred', 'female_smokers','male_smokers', 'new_vaccinations_smoothed', 'total_vaccinations_per_hundred', 'new_vaccinations_smoothed_per_million', 'population'])
df

,location,stringency_index,population_density,median_age,aged_65_older,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
1,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
2,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
3,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
4,Afghanistan,8.33,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73988,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73989,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73990,Zimbabwe,35.19,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73991,Zimbabwe,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571
73992,Zimbabwe,NaN,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.7,61.49,0.571

In [117]:
grouped_df = df.groupby(['location'])
test = grouped_df.mean()
test

,Stringency Index,Population Density,Median Age,Aged 65 and Older,Aged 70 and Older,GDP Per Capita,Extreme Poverty,Cardiovascular Death Rate,Diabetes Prevalence,Handwashing Facilities,Hospital Beds Per Thousand,Life Expectancy,Human Development Index
location,,,,,,,,,,,,,
Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.500,64.83,0.511
Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.890,78.57,0.795
Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.900,76.88,0.748
Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,61.129332,308.127,32.6,7.150,4.718,6171.884,2.0,245.465,6.00,85.847,2.600,75.40,0.704
World,NaN,58.045,30.9,8.696,5.355,15469.207,10.0,233.070,8.51,60.130,2.705,72.58,0.737
Yemen,34.253453,53.508,20.3,2.922,1.583,1479.147,18.8,495.003,5.35,49.542,0.700,66.12,0.470
Zambia,46.804551,22.995,17.7,2.480,1.542,3689.251,57.5,234.499,3.94,13.938,2.000,63.89,0.584
Zimbabwe,76.532853,42.729,19.6,2.822,1.882,1899.775,21.4,307.846,1.82,36.791,1.700,61.49,0.571

In [176]:
test_new =test.reset_index()

In [177]:
test_new.head()

,location,Stringency Index,Population Density,Median Age,Aged 65 and Older,Aged 70 and Older,GDP Per Capita,Extreme Poverty,Cardiovascular Death Rate,Diabetes Prevalence,Handwashing Facilities,Hospital Beds Per Thousand,Life Expectancy,Human Development Index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868

In [203]:
test_df = test_new.rename(columns={
    "location": "location",
    "Stringency Index": "stringency_index", 
    "Population Density": "population_density",
    "Median Age": "median_age",
    "Aged 65 and Older": "aged_65_and_older",
    "Aged 70 and Older": "aged_70_and_older",
    "GDP Per Capita": "gdp_per_capita",
    "Extreme Poverty": "extreme_poverty",
    "Cardiovascular Death Rate": "cardiovascular_death_rate",
    "Diabetes Prevalence": "diabetes_prevalence", 
    "Handwashing Facilities": "handwashing_facilities",
    "Hospital Beds Per Thousand": "hospital_beds_per_thousand",
    "Life Expectancy": "life_expectancy",
    "Human Development Index": "human_development_index",  
})

test_df

test_df.to_csv("load/economic-data.csv", index=False, header=True)

In [204]:
test_df.head()

,location,stringency_index,population_density,median_age,aged_65_and_older,aged_70_and_older,gdp_per_capita,extreme_poverty,cardiovascular_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868

In [258]:
import pandas as pd
from sqlalchemy import create_engine

In [307]:
economic_data = test_df[["location", "stringency_index", "population_density","median_age", "aged_65_and_older", "aged_70_and_older", "gdp_per_capita", "extreme_poverty", "cardiovascular_death_rate", "diabetes_prevalence", "handwashing_facilities", "hospital_beds_per_thousand", "life_expectancy", "human_development_index"]].copy()
economic_data.head()

,location,stringency_index,population_density,median_age,aged_65_and_older,aged_70_and_older,gdp_per_capita,extreme_poverty,cardiovascular_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868

In [308]:
rds_connection_string = "postgres:1234@localhost:5432/Covid_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [309]:
engine.table_names()

['covid_data', 'population_data', 'economic_data']

In [310]:
test_df.to_sql(name='location', con=engine, if_exists='append', index=False)

In [311]:
test_df.to_sql(name='stringency_index', con=engine, if_exists='append', index=False)

In [312]:
test_df.to_sql(name='population_density', con=engine, if_exists='append', index=False)

In [313]:
test_df.to_sql(name='median_age', con=engine, if_exists='append', index=False)

In [314]:
test_df.to_sql(name='aged_65_and_older', con=engine, if_exists='append', index=False)

In [315]:
test_df.to_sql(name='aged_70_and_older', con=engine, if_exists='append', index=False)

In [317]:
test_df.to_sql(name='gdp_per_capita', con=engine, if_exists='append', index=False)

In [318]:
test_df.to_sql(name='extreme_poverty', con=engine, if_exists='append', index=False)

In [319]:
test_df.to_sql(name='cardiovascular_death_rate', con=engine, if_exists='append', index=False)

In [321]:
test_df.to_sql(name='diabetes_prevalence', con=engine, if_exists='append', index=False)

In [322]:
test_df.to_sql(name='handwashing_facilities', con=engine, if_exists='append', index=False)

In [323]:
test_df.to_sql(name='hospital_beds_per_thousand', con=engine, if_exists='append', index=False)

In [324]:
test_df.to_sql(name='life_expectancy', con=engine, if_exists='append', index=False)

In [325]:
test_df.to_sql(name='human_development_index', con=engine, if_exists='append', index=False)

In [326]:
pd.read_sql_query('select * from human_development_index', con=engine).head()

,location,stringency_index,population_density,median_age,aged_65_and_older,aged_70_and_older,gdp_per_capita,extreme_poverty,cardiovascular_death_rate,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
0,Afghanistan,41.886694,54.422,18.6,2.581,1.337,1803.987,NaN,597.029,9.59,37.746,0.50,64.83,0.511
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,63.921617,104.871,38.0,13.188,8.643,11803.431,1.1,304.195,10.08,NaN,2.89,78.57,0.795
3,Algeria,70.942642,17.348,29.1,6.211,3.857,13913.839,0.5,278.364,6.73,83.741,1.90,76.88,0.748
4,Andorra,47.457068,163.755,NaN,NaN,NaN,NaN,NaN,109.135,7.97,NaN,NaN,83.73,0.868